@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
	padding: 20px;
}

body {background-color: rgb(204, 179, 255);
			font-family: Poppins;
      margin: auto;
      padding: 10px;
			color: RGB(255, 235, 255);
			}

h1   {color: RGB(233, 207, 255);
      font-size:200%;
    }

p    {
			text-indent: 20px;
			margin-left: 10px;}

div#introduction {
	border-style: solid;
	border-width: thick;
	border-color: RGB(233, 207, 255);
	border-radius: 25px;
	padding: 15px;
	padding-bottom: 60px;
}

div#labs {
	border-style: solid;
	border-width: thick;
	border-color: RGB(233, 207, 255);
	border-radius: 25px;
	padding: 15px;
}

img {
	border: solid 5px #D6C2FF;
	border-radius: 10%;
}
