@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {background-color: rgb(204, 179, 255);
			font-family: Poppins;
      margin: auto;
      padding: 10px;
			color: RGB(255, 235, 255);
			}

h1   {color: RGB(233, 207, 255);
      font-size:200%;
    }

p    {
			text-indent: 20px;
			margin-left: 10px;}
