h1 {
  color: #8878c3;
  font-size: 200%;
}

p {
  font-family: "Arial";
  text-indent: 20px;
  margin-left: 10px;
  color: white;
}

#content {
  background-color: #90EE90;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px #64E764;
  font-size: 20px;
}
